.grid-toggle {
  display: block;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 5px;
  transition: transform 0.3s ease;
  margin-left: 20px;
}

.grid-toggle:hover {
  transform: scale(1.1);
}

.grid-toggle img,
.grid-toggle svg {
  width: 24px;
  height: 24px;
  display: block;
}

.right-drawer {
  position: fixed;
  top: 0;
  right: -450px;
  width: 400px;
  height: 100vh;
  background-color: #f7f9ff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  transition: right 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2000;
  overflow-y: auto;
}

.right-drawer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/drawer-bg-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.right-drawer.active {
  right: 0;
}

.drawer-content {
  background-color: #f1f6fe;
  padding: 40px;
  position: relative;
  height: 100%;
}

.close-drawer {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  transition: transform 0.2s;
  z-index: 3;
}

.close-drawer:hover {
  transform: rotate(90deg);
}

.image-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-item {
  position: relative;
  z-index: 2;
}

.grid-item img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
}

.item-1 img {
  border-radius: 50%;
}
.item-2 img {
  border-radius: 20px;
}
.item-3 img {
  border-radius: 20px 20px 0 20px;
}
.item-4 img {
  border-radius: 20px 0 20px 20px;
}
.item-5 img {
  border-radius: 50%;
}
.item-6 img {
  border-radius: 20px;
}
